# You can override the included template(s) by including variable overrides
# SAST customization: https://docs.gitlab.com/ee/user/application_security/sast/#customizing-the-sast-settings
# Secret Detection customization: https://docs.gitlab.com/user/application_security/secret_detection/pipeline/configure
# Dependency Scanning customization: https://docs.gitlab.com/ee/user/application_security/dependency_scanning/#customizing-the-dependency-scanning-settings
# Container Scanning customization: https://docs.gitlab.com/ee/user/application_security/container_scanning/#customizing-the-container-scanning-settings
# Note that environment variables can be set in several places
# See https://docs.gitlab.com/ee/ci/variables/#cicd-variable-precedence

image:
  name: gcc:13-bookworm

variables:
  GIT_SUBMODULE_STRATEGY: normal
  DEBIAN_FRONTEND: noninteractive

stages:
- .pre
- build 
- test
- deploy

before_script:
  - apt-get update
  - apt-get install -y cmake make
  - apt-get install -y libgsl-dev
  - apt-get install -y doxygen graphviz
  - apt-get install -y build-essential clang pkg-config autoconf automake libtool ca-certificates
  - apt-get install -y gdb libboost-filesystem-dev libboost-chrono-dev libboost-thread-dev libboost-regex-dev

deps:
  stage: .pre
  script:
    - echo "No-op dependencies are installed per job"

build:
  stage: build
  script:
    - mkdir -p build
    - cd build
    - export CFLAGS="-fPIC -O3" CXXFLAGS="-fPIC -O3"
    - cmake -DWITH_DEBUG=YES -Wno-dev -DCMAKE_CXX_STANDARD=23 -DCMAKE_CXX_STANDARD_REQUIRED=ON -DCMAKE_CXX_EXTENSIONS=OFF ..
    - make -j "$(nproc --all)"
  artifacts:
    expire_in: 2 hrs
    paths:
    - build
  
test:
  stage: test
  dependencies:
    - build
  script:
  - cd build
  - ctest --output-on-failure

create-pages:
  stage: deploy
  needs:
    - job: build
      artifacts: true
  script:
    - mkdir public
    - ls -l
    - cmake .
    - make doc
    - mv doc/html/* ./public
    - ls public
  pages:
    expire_in: 1 week


